<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QEC_HEC_SU</display-name>
	<display-name>ShopManagementSystem</display-name>
  	<welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
  	</welcome-file-list>
  
  	<!-- Start Spring Mappings  -->
  	<servlet>  
    	<servlet-name>spring</servlet-name>  
       	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
       	<load-on-startup>1</load-on-startup>  
   	</servlet>
   	  
  	<servlet-mapping>  
    	<servlet-name>spring</servlet-name>  
    	<url-pattern>/</url-pattern>  
  	</servlet-mapping>
  
  	<context-param>
    	<param-name>contextConfigLocation</param-name>
      	<param-value>/WEB-INF/applicationContext.xml</param-value>
  	</context-param>
  	
 	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
  	<!-- End Spring Mappings  -->
  	
  	<!-- Spring Security Filter should come before that of Struts2 -->
 	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  	
  	<!-- Start mapping of all resources like images/css/javascript etc  -->
  	
  	<!-- Start mapping of all resources like images/css/javascript etc  -->
	<servlet-mapping>
  		<servlet-name>default</servlet-name>
    	<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.woff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.woff2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.ttf</url-pattern>
	</servlet-mapping>
</web-app>